.card {
  display: flex;
  align-items: center;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px 5px 5px 0;
  margin: 5px;
  font-family: "Courier New", Courier, monospace;
  img {
    height: 150px;
  }
  .title {
    font-weight: 800;
  }
  .description {
    justify-content: center;
  }
  .price {
    color: #db3c14;
    font-weight: 600;
  }
  .quantity {
  }
}
