<h3>Product Manager</h3>

<table border="2" class="product-table">
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>image Url</th>
      <th>description</th>
      <th>price</th>
      <th>available Quantity</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.imageUrl }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.availableQuantity }}</td>
      <td>
        <span><i class="fa fa-trash"></i></span
        ><span (click)="editProduct(product)"
          ><i class="fa fa-pencil"></i
        ></span>
      </td>
    </tr>
  </tbody>
</table>

<button class="floating-product-button btn-secondary">
  <i class="fa fa-plus"></i> Add Product
</button>

<product-form
  [currentProduct]="currentProduct"
  [isEdit]="isEdit"
></product-form>
