h3 {
  display: block;
  text-align: center;
  padding: 5px;
  margin-top: 5px;
}
.floating-product-button {
  position: fixed;
  bottom: 50%;
  right: 0;
  display: inline-block;
  width: fit-content;
}
.product-table {
  align-items: center;
  margin: 0 auto;
  border-collapse: collapse;
  border-color: #dad6e2;
  background-color: #000;

  color: #fff;
  tbody tr,
  thead tr {
    th {
      text-transform: capitalize;
    }
    th,
    td {
      padding: 5px;
      max-width: 200px;
      word-wrap: break-word;
      text-align: justify;
      max-height: 200px;
      overflow: hidden;
      p {
        max-height: 200px;
        overflow: hidden;
        margin: 0;
        padding: 0;
      }
      span {
        padding: 5px;
        cursor: pointer;
      }
    }
  }
}
