<h3>Product Manager</h3>

<table border="2" class="product-table">
  <thead>
    <tr>
      <th>SN</th>
      <th>name</th>
      <th>image Url</th>
      <th>description</th>
      <th>price</th>
      <th>available Quantity</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products; let i = index" [attr.data-index]="i">
      <td>{{ i + 1 }}</td>
      <td>{{ product.name }}</td>
      <td>
        <p>{{ product.imageUrl }}</p>
      </td>
      <td>
        <p>{{ product.description }}</p>
      </td>
      <td>
        <p>{{ product.price }}</p>
      </td>
      <td>
        <p>{{ product.availableQuantity }}</p>
      </td>
      <td>
        <span (click)="deleteProduct(product)"><i class="fa fa-trash"></i></span
        ><span (click)="editProduct(product)"
          ><i class="fa fa-pencil"></i
        ></span>
      </td>
    </tr>
    <tr>
      <td colspan="7">
        <paginate
          [perPageCount]="limit"
          [totalCount]="totalCount"
          (onChangePage)="onChangePage($event)"
        ></paginate>
      </td>
    </tr>
  </tbody>
</table>

<button
  class="floating-product-button btn-secondary"
  (click)="addProductForm()"
>
  <i class="fa fa-plus"></i> Add Product
</button>

<product-form
  [currentProduct]="currentProduct"
  [isEdit]="isEdit"
  (reloadProducts)="loadProducts($event)"
></product-form>
