/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
}
/* style for all buttons */
button {
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}

.btn-secondary {
  background-color: #f44336;
}
.btn-primary {
  background-color: #191b2b;
}
