<div class="order-box">
  <h3>My Orders</h3>
  <table class="order-list">
    <tr>
      <th>SN</th>
      <th>address</th>
      <th>totalPrice</th>
      <th>products</th>
      <th>shipping status</th>
    </tr>
    <tr *ngFor="let order of orders; let i = index">
      <td>{{ i }}</td>
      <td>{{ order.shippingAddress }}</td>
      <td>$ {{ order.sellingPrice }}</td>
      <td class="products">
        <span *ngFor="let product of order.products">{{
          product.product.name
        }}</span>
      </td>
      <td>{{ order.shippingStatus }}</td>
    </tr>
  </table>
</div>
<paginate
  [perPageCount]="limit"
  [totalCount]="totalCount"
  (onChangePage)="onChangePage($event)"
></paginate>
