<div class="container">
  <h3></h3>
  <ul>
    <app-cart-item
      *ngFor="let item of cart"
      [item]="item"
      (removeItem)="removeItem($event)"
    >
    </app-cart-item>
  </ul>
  <p>Total Price:$ {{ totalPrice }}</p>

  <p>
    <button
      *ngIf="isLoggedIn"
      type="button"
      class="btn-secondary"
      (click)="proceedToCheckout()"
    >
      Proceed To Checkout
    </button>
    <a class="login-btn btn btn-secondary" *ngIf="!isLoggedIn" href="login">
      Login To Checkout
    </a>
  </p>
</div>
