.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
ul {
  margin: 0;
  padding: 0;
}
.login-btn {
  position: static;
  margin: 5px;
  box-sizing: border-box;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}
