.order-box {
  border: 1px solid #fff;
  margin: 10px 0 25px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.order-list {
  tr {
    background-color: rgb(241, 239, 239);
    th {
      text-transform: uppercase;
    }
    td {
      span {
        padding: 0 5px;
      }
    }
  }
  tr td,
  tr th {
    text-align: center;
  }
  .products span {
    color: #162391aa;
    &::after {
      content: ",";
    }
  }
}
