.profile-background {
  width: 100%;
  height: 100%;
  top: 0%;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: row;
  float: grow 1px;
  margin: 0px auto 10px auto;
  background-image: linear-gradient(to right, #6f42c1, #88f3ff);

  .lower {
    width: 100%;
    height: 50%;
    top: 50%;
    position: absolute;
    background-color: #eeedf1;
  }

  .modal {
    position: relative;
    width: 768px;
    min-height: 500px;
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    margin: auto auto;
    z-index: 2;
    border-radius: 5px;
    box-shadow: 1px -1px 4px rgb(216, 212, 212);
    .content-left {
      display: flex;
      flex-direction: column;
      text-align: center;
      img {
        width: 350px;
      }
      span.username {
        font-size: 28px;
        font-weight: 800;
      }
    }
    .content-right {
      padding-left: 10px;
    }
  }
}

@media screen and (max-width: 450px) {
  .profile-background {
    position: static;
    .modal {
      width: 100%;
      flex-direction: column;
      img {
        width: 100%;
      }
    }
  }
}
