<div class="profile-background">
  <div class="modal">
    <div class="float top right">
      <button class="btn-secondary"><i class="fa fa-pencil"></i></button>
    </div>
    <div class="content-left">
      <img
        src="{{
          user.avatarUrl ||
            'https://www.kindpng.com/picc/m/78-786207_user-avatar-png-user-avatar-icon-png-transparent.png'
        }}"
      />
      <span class="username"> {{ user.name }}</span>
    </div>
    <div class="content-right">
      <div>
        <span class="title"><i class="fa fa-map-marker"></i> Address </span>
        <span class="address">
          {{ user.address || "Address Not Set" }}
        </span>
      </div>
      <div>
        <span class="title"> <i class="fa fa-phone"></i> Contact Number</span>
        <span class="phone"> {{ user.phone || "Contact Number Not Set" }}</span>
      </div>
    </div>
  </div>
  <div class="lower"></div>
  <div class="top-layer absolute"></div>
</div>
