<form [formGroup]="productForm">
  <h3>Product Form</h3>
  <label><b>Product Name</b></label>
  <input
    type="text"
    placeholder="Enter Product Name"
    formControlName="name"
    required
  />

  <label><b>Price</b></label>
  <input
    type="number"
    placeholder="Enter Price"
    formControlName="price"
    required
  />

  <label [for]="unit"><b>Unit</b></label>
  <input
    type="text"
    placeholder="Enter Unit of Measure"
    formControlName="unit"
    required
  />

  <label [for]="imageUrl"><b>Feature Image</b></label>
  <input
    type="text"
    placeholder="Enter Image URL"
    formControlName="imageUrl"
    required
  />

  <label [for]="availableQuantity"><b>Available Quantity</b></label>
  <input
    type="number"
    placeholder="Enter Available Quantity"
    formControlName="availableQuantity"
    required
  />
  <label [for]="description"><b>Description</b></label>
  <textarea formControlName="description"> Add Product Description</textarea>

  <button *ngIf="isEdit" type="submit" class="btn-primary">Update</button>

  <button *ngIf="!isEdit" type="submit" class="btn-primary">Add</button>
</form>
