h3 {
  text-align: center;
  margin: 10px 0;
  color: #190452ff;
}
.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .list-item {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    align-items: center;
    justify-content: space-around;
    box-shadow: 2px 4px 7px 0px #00000063;
    border-bottom: 1px solid silver;
    width: 350px;
    :last-child {
      border: 0;
    }
    img {
      width: 100px;
      border-radius: 50%;
    }
    .icon {
      padding-left: 15px;
      display: flex;
      flex-direction: column;
      button {
        padding: 2px;
      }
    }
    .list-group {
      display: flex;
      flex-direction: column;
      padding-left: 10px;
    }
  }
}
